# build output (dist/ in repo root, refs/ next to the build script - extracted game binaries, do NOT redistribute)
/dist/
refs/
/bin/
/obj/
scripts/dist/

# csc pdb
*.pdb
*.dll.config

# local log
*.log

# OS
Thumbs.db
.DS_Store
